.blog-container {
    margin: 0 20%;
}

.blog-title {
  font-family: var(--primary-font);
  font-size: var(--title-font-size-lg);
  font-weight: lighter;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid var(--heading-color);;
}

.blog-list-item {
  list-style: none;
}
