:root {
  --primary-color-home:
  --secondary-color-home:
  --primary-color-about:
  --secondary-color-about:
  --primary-color-resume:
  --secondary-color-resume:
  --primary-color-blog:
  --secondary-color-blog:

  --page-title-font-size: 100px;

  --primary-font: "Six Caps", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}
