:root {
  --primary-color-home: #9A828D;
  --primary-color-about: #6C7996;
  --primary-color-resume: #8D99A2;
  --primary-color-blog: #cda3a1;
  --background-color: #D5D5D5;

  --heading-color: #393939;
  --hover-color: #8C8C93;
  --body-color: #393939;

  --title-font-size-lg: 80px;
  --title-font-size-med: 40px;
  --title-font-size-small: 25px;
  --content-font-size: 18px;
  --tablet-title-font-size-lg: 60px;

  --primary-font: "Six Caps";
  --secondary-font: "Open Sans";
}
