:root {
  --primary-color-home: #43cea2;
  --secondary-color-home: #185a9d;
  // --primary-color-about:
  // --secondary-color-about:
  // --primary-color-resume:
  // --secondary-color-resume:
  // --primary-color-blog:
  // --secondary-color-blog:

  --background-color: #f9f9f9;

  --title-font-size-lg: 150px;
  --title-font-size-med: 50px;
  --content-font-size: 18px;

  // --hover-color:

  --primary-font: "Six Caps";
  --secondary-font: "Open Sans";
}
