.footer {

}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  list-style-type: none;
}

.icon-list li {
  padding: 15px;
}

.social-media-icon {
  height: 30px;
  width: 30px;
  // fill: var(--body-color);
}
