*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: var(--secondary-font);
  color: inherit;
  background-color: var(--background-color);
  color: var(--body-color);
}

h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--primary-font);
  color: var(--heading-color);
}

a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-text-decoration-color: inherit;
  text-decoration-color: inherit;
}

// Remove default outline from anything
// that includes tabindex="-1"
[tabindex="-1"] {
  outline: none;
}

// .max-width {
//   margin: 0 auto;
//   max-width: 2000px;
// }
