// * {
//   border: 1px solid red;
// }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 200px;

  @include mq($from: mobile, $until: tablet) {
    height: 150px
  }

  .primary & {
    background-color: var(--primary-color-home);
  }

  .about & {
    background-color: var(--primary-color-about);
  }

  .resume & {
    background-color: var(--primary-color-resume);
  }

  .blog & {
    background-color: var(--primary-color-blog);
  }

  .header-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-title {
    font-family: var(--primary-font);
    font-size: var(--title-font-size-lg);
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;

    @include mq($from: tablet, $until: desktop) {
      font-size: var(--tablet-title-font-size-lg);
    }

    @include mq($from: mobile, $until: tablet) {
      font-size: var(--title-font-size-med);
    }
  }

  .header-title-container {
    margin-left: 15%;

    @include mq($from: mobile, $until: tablet) {
      margin-left: var(--mobile-sidebar-margin);
    }
  }

  .header-tagline {
    font-family: var(--secondary-font);
    font-size: 18px;
    color: #FFF;
    margin-top: -5px;

    @include mq($from: mobile, $until: tablet) {
      font-size: var(--mobile-content-font-size);
      margin-top: auto;
    }
  }

  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    @include mq($from: mobile, $until: tablet) {
      // width: 200px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .nav-item {
    width: auto;
    height: 20px;
    margin: 0px 20px;
  }

  .nav-anchor {
    color: #FFF;
  }

  .nav-list a:hover {
    color: var(--heading-color);
    border-bottom: 2px solid var(--heading-color);
  }
}
