.header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.header-title {
  font-family: "Six Caps", sans-serif;
  // border-bottom: 2px;
  font-size: 50px;
  font-weight: 400;
  margin-top: 10px;

}

.nav-item {
  width: 100px;
  height: 20px;
}
.nav-list a:hover {
  color: #a3b2cc;
}
