.home {

}

.tagline {
  font-size: var(--title-font-size-lg);
  font-family: var(--primary-font);
  text-transform: uppercase;

  .break {
    display: table;
  }
}

.intro-container {
  display: grid;
  grid-column: 1fr, 1fr;
  margin: 50px 10%;


  .intro-item-one {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .intro-item-two {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .intro-item-three {
    grid-column: 2/3;
    grid-row: 1/3;
  }

}

.home-img {
  width: 400px;
  height: 500px;
  filter: grayscale(30%);
  border-radius: 2px;
  margin: 20px 0;
}

.recent-container {
  margin: 0 20%;

  .recent-header {
    font-size: var(--title-font-size-lg);
    font-weight: lighter;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid var(--heading-color);
  }

  .recent-list-item {
    list-style: none;
    margin: 20px 0;
  }

  .recent-entry {
    // margin: 20px 0;
  }

  .recent-link {
    font-size: var(--title-font-size-med);
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--heading-color);
    text-decoration: none;
    // margin: 20px 0;
  }

  .recent-link:hover {
    color: var(--hover-color);
    text-decoration: none;
  }

  .recent-content {
    margin: 20px 0;
  }
}
