.home {

}

.tagline-container {
  border-bottom: 2px #9da0a5;
  // border line is not appearing yet
}

.tagline {
  display: flex;
  justify-content: center;
}

.recent-header {
  font-family:  "Six Caps", sans-serif;
  margin-left: 25%;
  padding: 20px;
}

.blog {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
}

.blog-link {
  color: #5f718e;
  text-decoration: none;
  // margin-bottom: 20px;
}

.blog-link:hover {
  color: #a3b2cc;
  text-decoration: none;
}
