.home {

}

.tagline-container {
  border-bottom: 2px #9da0a5;
  // border line is not appearing yet
}

.tagline {
  display: flex;
  justify-content: center;
}

.recent-header {
  font-size: var(--title-font-size-lg);
  font-weight: lighter;
  text-transform: uppercase;
  margin-left: 25%;
  padding: 20px;
}

.blog-entry {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
}

.blog-link {
  font-size: var(--title-font-size-med);
  text-transform: uppercase;
  color: #5f718e;
  text-decoration: none;
  // margin-bottom: 20px;
}

.blog-link:hover {
  color: #a3b2cc;
  text-decoration: none;
}
