h1, h2, h3 {
  // font-family: var(--primary-font);
}

.resume-title {
  // font-size: var(--title-font-size-lg);
  font-size: 150px;
  font-weight: lighter;
  border-bottom: 1px solid #6A7887;

}

.section-container, .resume-title {
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;

}
.section-title {
  font-size: var(--title-font-size-med);
  // font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.5;
  position: sticky;
  top: 0px;
  background-color: #f9f9f9;
  padding: 30px 0;
  z-index: 1;
}

p {
  position: relative;
  font-size: 18px;
  letter-spacing: 1.5;
  padding: 10px 0;
}
