.resume-container {
  margin-left: 20%;
  margin-right: 20%;
}

.resume-title {
  font-size: var(--title-font-size-lg);
  font-weight: lighter;
  text-transform: uppercase;
  border-bottom: 1px solid var(--heading-color);
  margin-top: 50px;
  padding: 20px 0;
}

.section-container {
  padding-top: 20px;

}
.section-title {
  font-size: 50px;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.5;
  position: sticky;
  top: 0px;
  background-color: var(--background-color);
  padding: 30px 0;
  z-index: 1;
}

.resume-info-container {
  position: relative;
  font-size: var(--content-font-size);
  letter-spacing: 1.5;
  padding: 10px 0;
}

::selection {
  background-color: #a8b4bd;
}
