<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>
  <a href="#main" class="skip-to">Skip to main content.</a>
  {% include header.html %}
    <main id="main" tabindex="-1">
      {{ content }}
    </main>
  {% include footer.html %}
</body>
</html>
