\<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway:300,300i,400,700,800" rel="stylesheet">
</head>
<body>
  <a href="#main" class="skip-to">Skip to main content.</a>
  {% include header.html %}
    <main id="main" tabindex="-1">
      {{ content }}
    </main>
  {% include footer.html %}
</body>
</html>
